# Ignore virtual environments
ai_env/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore egg info
*.egg-info

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
